# -----------------------------------------------
# Custom Aliases
# -----------------------------------------------
alias dev='./dev'

# -----------------------------------------------
# Shell Aliases
# -----------------------------------------------


alias '..'='cd ..'
alias '...'='cd ../..'
alias 'cd..'='cd ..'
alias 'cd...'='cd ../..'
alias 'cd....'='cd ../../..'
alias 'cd.....'='cd ../../../..'
alias '..'='cd ..'
alias '...'='cd ../..'
alias 1='cd -'
alias 2='cd -2'
alias 3='cd -3'
alias 4='cd -4'
alias 5='cd -5'
alias 6='cd -6'
alias 7='cd -7'
alias 8='cd -8'
alias 9='cd -9'
alias '_'=sudo

alias d='dirs -v | head -10'
alias h='cd ~'
alias c='clear'

alias l='ls -lah'
alias la='ls -lAh'
alias ll='ls -lh'
alias ls='ls -G'
alias lsa='ls -lah'
alias perm='stat -f "%A %a %N"'
alias permu='stat -c "%a %n"'

alias history='fc -l 1'

alias md='mkdir -p'

alias please=sudo

# -----------------------------------------------
# Git Aliases
# -----------------------------------------------
alias grep='grep --color=auto --exclude-dir={.bzr,.cvs,.git,.hg,.svn}'
alias gcom='gco master'
# -----------------------------------------------
# PHP Aliases
# -----------------------------------------------

alias com:up='composer update'
alias com:in='composer install'
alias com:req='composer require'

alias phpspec='vendor/bin/phpspec'

# -----------------------------------------------
# Laravel Aliases
# -----------------------------------------------

alias art='php artisan'
alias co='./bin/console'
alias app:down='php artisan down'
alias app:up='php artisan up'
alias app:tinker='php artisan tinker'

alias g:mig='php artisan generate:migration'
alias g:model='php artisan generate:model'
alias g:seed='php artisan generate:seed'

alias q:w='php artisan queue:work'
alias q:l='php artisan queue:listen'
alias q:flush='php artisan queue:flush'
alias q:forget='php artisan queue:forget'
alias q:failed='php artisan queue:failed'

alias db:seed='php artisan db:seed'
alias db:migrate='php artisan migrate'
alias db:mig='php artisan migrate'
alias db:res='php artisan migrate:reset'
alias db:rollback='php artisan migrate:rollback'
alias db:refresh='php artisan migrate:refresh'

alias ide:gen='php artisan ide-helper:generate'
alias ide:models='php artisan ide-helper:models'


# -----------------------------------------------
# Vagrant Aliases
# -----------------------------------------------

alias vssh='vagrant ssh'
alias vdown='vagrant suspend'
alias vup='vagrant up'

# -----------------------------------------------
# Docker Aliases
# -----------------------------------------------
alias dc="docker-compose"

### Misc Aliases:
alias hosts='sudo code /etc/hosts'
alias pubkey='cat ~/.ssh/id_rsa.pub && cat ~/.ssh/id_rsa.pub | pbcopy'
# alias pr="bash ~/Code/environment/snippets/commits2pr.sh"

# Functions
function perf {
  curl -s -w "\n\n%{time_connect} + %{time_starttransfer} = %{time_total}\n" "$@"
}
function gpup { git push -u origin `git symbolic-ref --short HEAD` }
