# -----------------------------------------------
# Shell Aliases
# -----------------------------------------------


alias '..'='cd ..'
alias '...'='cd ../..'
alias 'cd..'='cd ..'
alias 'cd...'='cd ../..'
alias 'cd....'='cd ../../..'
alias 'cd.....'='cd ../../../..'
alias '..'='cd ..'
alias '...'='cd ../..'
alias 1='cd -'
alias 2='cd -2'
alias 3='cd -3'
alias 4='cd -4'
alias 5='cd -5'
alias 6='cd -6'
alias 7='cd -7'
alias 8='cd -8'
alias 9='cd -9'
alias '_'=sudo

alias d='dirs -v | head -10'
alias h='cd ~'
alias c='clear'

alias l='ls -lah'
alias la='ls -lAh'
alias ll='ls -lh'
alias ls='ls -G'
alias lsa='ls -lah'

alias history='fc -l 1'

alias md='mkdir -p'

alias please=sudo

# -----------------------------------------------
# Git Aliases
# -----------------------------------------------

alias g=git
alias gs='git status'
alias ga='git add'
alias gaa='git add --all'
alias gc='git commit -v'
alias gcmsg='git commit -m'
alias gl='git pull'
alias gp='git push'
alias gwc='git whatchanged -p --abbrev-commit --pretty=medium'

alias gap='git add --patch'
alias gb='git branch'
alias gba='git branch -a'
alias gbr='git branch --remote'
alias 'gc!'='git commit -v --amend'
alias gca='git commit -v -a'
alias 'gca!'='git commit -v -a --amend'
alias gcl='git config --list'
alias gclean='git reset --hard && git clean -dfx'
alias gcm='git checkout master'
alias gco='git checkout'
alias gcom='git checkout master'
alias gcount='git shortlog -sn'
alias gcp='git cherry-pick'
alias gcs='git commit -S'
alias gd='git diff'
alias gdc='git diff --cached'
alias gdt='git difftool'
alias gg='git gui citool'
alias gga='git gui citool --amend'
alias ggpnp='git pull origin $(current_branch) && git push origin $(current_branch)'
alias ggpull='git pull origin $(current_branch)'
alias ggpur='git pull --rebase origin $(current_branch)'
alias ggpush='git push origin $(current_branch)'
alias gignore='git update-index --assume-unchanged'
alias gignored='git ls-files -v | grep "^[[:lower:]]"'
alias git-svn-dcommit-push='git svn dcommit && git push github master:svntrunk'
alias gk='gitk --all --branches'
alias glg='git log --stat --max-count=10'
alias glgg='git log --graph --max-count=10'
alias glgga='git log --graph --decorate --all'
alias glo='git log --oneline --decorate --color'
alias globurl='noglob urlglobber '
alias glog='git log --oneline --decorate --color --graph'
alias glp=_git_log_prettily
alias gm='git merge'
alias gmt='git mergetool --no-prompt'
alias gpoat='git push origin --all && git push origin --tags'
alias gr='git remote'
alias grba='git rebase --abort'
alias grbc='git rebase --continue'
alias grbi='git rebase -i'
alias grep='grep --color=auto --exclude-dir={.bzr,.cvs,.git,.hg,.svn}'
alias grh='git reset HEAD'
alias grhh='git reset HEAD --hard'
alias grmv='git remote rename'
alias grrm='git remote remove'
alias grset='git remote set-url'
alias grt='cd $(git rev-parse --show-toplevel || echo ".")'
alias grup='git remote update'
alias grv='git remote -v'
alias gsd='git svn dcommit'
alias gsps='git show --pretty=short --show-signature'
alias gsr='git svn rebase'
alias gss='git status -s'
alias gsta='git stash'
alias gstd='git stash drop'
alias gstp='git stash pop'
alias gsts='git stash show --text'
alias gts='git tag -s'
alias gunignore='git update-index --no-assume-unchanged'
alias gunwip='git log -n 1 | grep -q -c "\-\-wip\-\-" && git reset HEAD~1'
alias gup='git pull --rebase'
alias gvt='git verify-tag'
alias gwip='git add -A; git ls-files --deleted -z | xargs -r0 git rm; git commit -m "--wip--"'

# -----------------------------------------------
# PHP Aliases
# -----------------------------------------------

alias com:up='composer update'
alias com:in='composer install'
alias com:req='composer require'

alias phpspec='vendor/bin/phpspec'

# -----------------------------------------------
# Laravel Aliases
# -----------------------------------------------

alias art='php artisan'
alias co='./bin/console'
alias app:down='php artisan down'
alias app:up='php artisan up'
alias app:tinker='php artisan tinker'

alias g:mig='php artisan generate:migration'
alias g:model='php artisan generate:model'
alias g:seed='php artisan generate:seed'

alias q:w='php artisan queue:work'
alias q:l='php artisan queue:listen'
alias q:flush='php artisan queue:flush'
alias q:forget='php artisan queue:forget'
alias q:failed='php artisan queue:failed'

alias db:seed='php artisan db:seed'
alias db:migrate='php artisan migrate'
alias db:mig='php artisan migrate'
alias db:res='php artisan migrate:reset'
alias db:rollback='php artisan migrate:rollback'
alias db:refresh='php artisan migrate:refresh'

alias i:u='php artisan inventory:update'
alias i:c='php artisan inventory:clear'

alias ide:gen='php artisan ide-helper:generate'
alias ide:models='php artisan ide-helper:models'

alias lara:log='tail -f app/storage/logs/laravel.log'

# -----------------------------------------------
# Vagrant Aliases
# -----------------------------------------------

alias vssh='vagrant ssh'
alias vdown='vagrant suspend'
alias vup='vagrant up'


### Misc Aliases:
alias hosts='sudo code /etc/hosts'
alias pubkey='cat ~/.ssh/id_rsa.pub && cat ~/.ssh/id_rsa.pub | pbcopy'
alias pr="bash ~/Code/environment/snippets/commits2pr.sh"

# Functions
function perf {
  curl -s -w "\n\n%{time_connect} + %{time_starttransfer} = %{time_total}\n" "$@"
}
function gpup { git push -u origin `git symbolic-ref --short HEAD` }
